﻿@model Banco_GuateFinanzas.Models.Transacciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transacciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
