﻿@model Banco_GuateFinanzas.Models.Persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dpi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRef1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRef1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoRef1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoRef1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRef2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRef2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoRef2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoRef2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
