﻿@model IEnumerable<Banco_GuateFinanzas.Models.Persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dpi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreRef1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoRef1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreRef2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoRef2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dpi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreRef1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoRef1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreRef2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoRef2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
