﻿
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chat</h2>

<div class="row">

    <div class="col-md-4">
        <input type="text" placeholder="Message" data-bind="value:message" />
        <button class="btn btn-primary" data-bind="click:sendMessage">Send</button>
    </div>
    <div class="col-md-4">
        <div data-bind="foreach:messages">
            <div data-bind="text: $data"></div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/perfSurf.js"></script>

}

