﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guate Finanzas</h1>
    <p class="lead"></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Valores</h2>
        <p>

        <p> Integridad:  Procedemos siempre con honestidad, transparencia y responsabilidad ante nuestros compromisos.</p>
        <p>Trabajo en equipo:  Somos un grupo de personas con talentos complementarios, comprometidos y trabajando de manera coordinada por un mismo objetivo.</p>
        <p>Excelencia:  Propiciamos una cultura interna que motive el proceso de mejora continua, incentivando a nuestros colaboradores a desarrollar sus cualidades y capacidades.        </p>

    </div>
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>Somos una corporaciòn sòlida, lìquida y rentable, dedicada a satisfacer las necesidades financieras de nuestros clientes, de forma eficiente, eficaz, confidencial y segura, para el desarrollo de sus operaciones, a través del esfuerzo y profesionalismo de nuestros colaboradores, así como de una gama de productos acordes a las exigencias del mercado.</p>

    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>Consolidarnos como uno de los cuatro bancos más grandes y rentables del país, reconocido por su estrecha relación con los clientes, brindándoles excelencia en el servicio, a través del desempeño de sus colaboradores manteniendo la integridad, honestidad y trabajo en equipo.</p>
    </div>
</div>