﻿@model Banco_GuateFinanzas.Models.Tarjeta

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tarjeta</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CuentaID, "CuentaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaID", String.Empty)
                @Html.ValidationMessageFor(model => model.CuentaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoTarjetaID, "TipoTarjetaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoTarjetaID", String.Empty)
                @Html.ValidationMessageFor(model => model.TipoTarjetaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TBloqueoID, "TBloqueoID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TBloqueoID", String.Empty)
                @Html.ValidationMessageFor(model => model.TBloqueoID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nro)
                @Html.ValidationMessageFor(model => model.Nro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pin)
                @Html.ValidationMessageFor(model => model.Pin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vence)
                @Html.ValidationMessageFor(model => model.Vence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Limite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Limite)
                @Html.ValidationMessageFor(model => model.Limite)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaPago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaPago)
                @Html.ValidationMessageFor(model => model.FechaPago)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
