﻿@model Banco_GuateFinanzas.Models.Tarjeta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBloqueo.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBloqueo.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTarjeta.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTarjeta.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
