﻿@model IEnumerable<Banco_GuateFinanzas.Models.Tarjeta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBloqueo.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTarjeta.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBloqueo.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTarjeta.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
