﻿@model Banco_GuateFinanzas.Models.Prestamo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Prestamo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PersonaID, "PersonaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PersonaID", String.Empty)
                @Html.ValidationMessageFor(model => model.PersonaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Meses, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Meses)
                @Html.ValidationMessageFor(model => model.Meses)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CMeses, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMeses)
                @Html.ValidationMessageFor(model => model.CMeses)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto)
                @Html.ValidationMessageFor(model => model.Monto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaI, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaI)
                @Html.ValidationMessageFor(model => model.FechaI)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaP)
                @Html.ValidationMessageFor(model => model.FechaP)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
