﻿@model IEnumerable<Banco_GuateFinanzas.Models.Prestamo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Dpi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMeses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Dpi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMeses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
